<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSOAPSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51265/WebServiceSOAP.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSOAPSoap"
                contract="ServiceReferenceCliente.WebServiceSOAPSoap" name="WebServiceSOAPSoap" />
        </client>
    </system.serviceModel>
</configuration>